[workspace]
members = [
    "crates/*",
]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[workspace.dependencies]
robit = { path = "crates/robit" }

anyhow = "1.0"
tracing-subscriber = "0.3.17"
